.Notes {
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.Notes a {
    text-decoration: none;
    color:  black;
}