.UserInfo {
  background-color: white;
  padding: 15px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
  /* max-width: 200px; */
  border-radius: 8px;
  position: absolute;
  z-index: 100;
  bottom: 120%;
  width: 300px;
  height: 150px;
}

.UserInfo p {
  font-size: 11px;
}

.UserStats {
  margin-top: 10px;
  display: flex;
  margin-left: 10px;
  gap: 15px;
}

.UserStatsChild {
  /* borderRight: "1px solid #e9ecef",
                  paddingRight: "10px", */

  border-right: 1px solid #e9ecef;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.UserInfo button {
  border-radius: 8px;
  background-color: #0d6efd;
  color: white;
  margin-left: 10px;
  margin-top: 10px;
}

.Loading {
  margin: 0 auto;
  margin-left: 110px;
  margin-top: 25px;
}
